<!DOCTYPE HTML>
<html>
<head>
<#include "/adminPage/common.html"/>
<link rel="stylesheet" type="text/css" href="${ctx}/lib/jsdifflib/diffview.css" />
<style type="text/css">
.name {
	padding: 10px;
	padding-left: 0px;
	font-size: 16px;
}

.title {
	margin-top: 5px;
	margin-bottom: 5px;
	height:30px;
	line-height:30px;
	cursor: pointer;
}

table.diff {
	width: 100%;
}


.long{
	width: 150px!important;
}


.layui-form-radio{
	width: 700px;
}

input[type='radio']{
	width: 1000px;
}

</style>
</head>
<body class="layui-layout-body">
	<div class="layui-layout layui-layout-admin">

		<#include "/adminPage/header.html"/>
		<#include "/adminPage/menu.html"/>

		<div class="layui-body">
			<!-- 内容主体区域 -->
			<div style="padding: 15px">
				<fieldset class="layui-elem-field layui-field-title">
					<legend>公用黑白名单</legend>
				</fieldset>
				<form id="addForm">
					
					<div class="layui-form">
						<div class="layui-inline">
							<button type="button" class="layui-btn layui-btn-sm layui-btn-normal" onclick="addOver()">保存</button>
						</div>
					</div>
					
					<div class="layui-form" style="margin-top: 10px; display: flex;">

						<div style="width: 47%;">
							<div class="layui-inline" style="padding-bottom: 5px;width: 100%;">
								<label class="layui-form-label ellipsis" style="width: 80%;text-align: left;">黑名单IP</label>
							</div>
							<textarea class="layui-textarea conf" id="denyIp" name="denyIp" style="height: 500px; resize: none;" spellcheck="false">${denyIp}</textarea>
						</div>


						<div style="width: 47%;">
							<div class="layui-inline" style="padding-bottom: 5px;">
								<label class="layui-form-label" style="width: 110px;text-align: left;">白名单IP</label>
							</div>
							<textarea class="layui-textarea org" id="allowIp" name="allowIp" style="height: 500px; margin-left: 10px;resize: none;" spellcheck="false">${allowIp}</textarea>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	



	<#include '/adminPage/script.html'/>
	<script src="${ctx}/js/adminPage/denyAllow/index.js?v=${jsrandom}" type="text/javascript"></script>
</body>


</html>