<!DOCTYPE html>
<html>
<head>
<#include "/adminPage/common.html"/>

</head>
<body>
	<div id="log-container" style="height: 600px; overflow-y: scroll; background: #333; color: #aaa; padding: 10px;">
		<div></div>
	</div>


	<div style="position: fixed; top: 10px; right: 30px;">
		<button class="layui-btn layui-btn-sm" type="button" onclick="stop()">${loginStr.pause}</button>
		<button class="layui-btn layui-btn-sm layui-btn-normal" type="button" onclick="goon()">${loginStr.continue}</button>
	</div>

	<input type="hidden" id="id" value="${id}">
	<#include '/adminPage/script.html'/>
	<script src="${ctx}/js/adminPage/log/tail.js?v=${jsrandom}" type="text/javascript"></script>
</body>


</body>
</html>